parameters:
	ignoreErrors:
		-
			message: "#^Method Squirrel\\\\Entities\\\\Attribute\\\\EntityProcessor\\:\\:getEntityFromAttribute\\(\\) has parameter \\$class with generic class ReflectionClass but does not specify its types\\: T$#"
			count: 1
			path: src/Attribute/EntityProcessor.php

		-
			message: "#^Property Squirrel\\\\Entities\\\\Builder\\\\MultiSelectIterator\\:\\:\\$selectReference is never read, only written\\.$#"
			count: 1
			path: src/Builder/MultiSelectIterator.php

		-
			message: "#^Property Squirrel\\\\Entities\\\\Builder\\\\MultiSelectIterator\\:\\:\\$source is never read, only written\\.$#"
			count: 1
			path: src/Builder/MultiSelectIterator.php

		-
			message: "#^Class Squirrel\\\\Entities\\\\Builder\\\\SelectEntries implements generic interface IteratorAggregate but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Builder/SelectEntries.php

		-
			message: "#^Class Squirrel\\\\Entities\\\\Builder\\\\SelectIterator implements generic interface Iterator but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Builder/SelectIterator.php

		-
			message: "#^Property Squirrel\\\\Entities\\\\Builder\\\\SelectIterator\\:\\:\\$selectReference is never read, only written\\.$#"
			count: 1
			path: src/Builder/SelectIterator.php

		-
			message: "#^Property Squirrel\\\\Entities\\\\Builder\\\\SelectIterator\\:\\:\\$source is never read, only written\\.$#"
			count: 1
			path: src/Builder/SelectIterator.php

		-
			message: "#^Cannot call method getObjectToTableFields\\(\\) on mixed\\.$#"
			count: 1
			path: src/MultiRepositoryReadOnly.php

		-
			message: "#^Cannot call method getObjectTypes\\(\\) on mixed\\.$#"
			count: 1
			path: src/MultiRepositoryReadOnly.php

		-
			message: "#^Cannot call method getObjectTypesNullable\\(\\) on mixed\\.$#"
			count: 1
			path: src/MultiRepositoryReadOnly.php

		-
			message: "#^Cannot call method getTableName\\(\\) on mixed\\.$#"
			count: 1
			path: src/MultiRepositoryReadOnly.php

		-
			message: "#^Match expression does not handle remaining value\\: mixed$#"
			count: 1
			path: src/MultiRepositoryReadOnly.php

		-
			message: "#^Method Squirrel\\\\Entities\\\\MultiRepositoryReadOnly\\:\\:fetchAllAndFlatten\\(\\) should return array\\<bool\\|float\\|int\\|string\\|null\\> but returns array\\<int, mixed\\>\\.$#"
			count: 1
			path: src/MultiRepositoryReadOnly.php

		-
			message: "#^Offset 'where' on array\\{repositories\\: array, tables\\?\\: array, where\\: array, lock\\?\\: bool\\} in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: src/MultiRepositoryReadOnly.php

		-
			message: "#^Parameter \\#1 \\$object of method ReflectionProperty\\:\\:getValue\\(\\) expects object\\|null, mixed given\\.$#"
			count: 2
			path: src/MultiRepositoryReadOnly.php

		-
			message: "#^Parameter \\#1 \\$objectOrClass of class ReflectionClass constructor expects class\\-string\\<T of object\\>\\|T of object, mixed given\\.$#"
			count: 1
			path: src/MultiRepositoryReadOnly.php

		-
			message: "#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\\.$#"
			count: 2
			path: src/RepositoryReadOnly.php

		-
			message: "#^Cannot access offset mixed on mixed\\.$#"
			count: 1
			path: src/RepositoryReadOnly.php

		-
			message: "#^Match expression does not handle remaining value\\: mixed$#"
			count: 1
			path: src/RepositoryReadOnly.php

		-
			message: "#^Offset 'limit' on array\\{fields\\?\\: array\\<string\\>, field\\?\\: string, where\\?\\: array\\<int\\|string, mixed\\>, order\\?\\: array\\<int\\|string, string\\>, offset\\?\\: int, lock\\?\\: bool\\} in isset\\(\\) does not exist\\.$#"
			count: 1
			path: src/RepositoryReadOnly.php

		-
			message: "#^Parameter \\#1 \\$array of function array_values expects array, mixed given\\.$#"
			count: 1
			path: src/RepositoryReadOnly.php

		-
			message: "#^Parameter \\#1 \\$orderOptions of method Squirrel\\\\Entities\\\\RepositoryReadOnly\\:\\:preprocessOrder\\(\\) expects array\\<int\\|string, mixed\\>, mixed given\\.$#"
			count: 1
			path: src/RepositoryReadOnly.php

		-
			message: "#^Parameter \\#1 \\$query of method Squirrel\\\\Queries\\\\DBInterface\\:\\:fetchAll\\(\\) expects array\\{fields\\?\\: array\\<int\\|string, string\\>, field\\?\\: string, tables\\?\\: array\\<int\\|string, mixed\\>, table\\?\\: string, where\\?\\: array\\<int\\|string, mixed\\>, group\\?\\: array\\<int\\|string, string\\>, order\\?\\: array\\<int\\|string, string\\>, limit\\?\\: int, \\.\\.\\.\\}\\|string, array\\<string, mixed\\> given\\.$#"
			count: 2
			path: src/RepositoryReadOnly.php

		-
			message: "#^Parameter \\#1 \\$query of method Squirrel\\\\Queries\\\\DBInterface\\:\\:select\\(\\) expects array\\{fields\\?\\: array\\<int\\|string, string\\>, field\\?\\: string, tables\\?\\: array\\<int\\|string, mixed\\>, table\\?\\: string, where\\?\\: array\\<int\\|string, mixed\\>, group\\?\\: array\\<int\\|string, string\\>, order\\?\\: array\\<int\\|string, string\\>, limit\\?\\: int, \\.\\.\\.\\}\\|string, array\\<string, mixed\\> given\\.$#"
			count: 1
			path: src/RepositoryReadOnly.php

		-
			message: "#^Parameter \\#1 \\$value of function count expects array\\|Countable, mixed given\\.$#"
			count: 3
			path: src/RepositoryReadOnly.php

		-
			message: "#^Parameter \\#1 \\$where of method Squirrel\\\\Entities\\\\RepositoryReadOnly\\:\\:preprocessWhere\\(\\) expects array\\<int\\|string, mixed\\>, mixed given\\.$#"
			count: 1
			path: src/RepositoryReadOnly.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: src/RepositoryReadOnly.php

