parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method ReflectionType\\:\\:getName\\(\\)\\.$#"
			count: 1
			path: src/Annotation/EntityProcessor.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: src/RepositoryReadOnly.php

